.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    overflow: hidden;
}

.loading .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 95px;
    height: 95px;
    border-radius: 100%;
}

div.box {
    z-index: -1;
    position: absolute;
    width: 104px;
    height: 104px;
    animation: rotate 1s infinite;
    background: linear-gradient(to right, rgba(217, 217, 217, 1), rgba(250, 250, 253, 1), rgba(42, 65, 249, 1));
    border-radius: 100%;
}


.gotoButton {
    position: absolute;
    top: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}