.product {
    padding: 40px 65px 0 65px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* margin-left: 257px; */
    box-sizing: border-box;
}

.product .heading {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 24px;
    color: #081735;
    line-height: 32px;
}

.product .container {
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    width: 100%;
    min-height: 100px;
    padding: 32px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 24px;
}

/* productContainer in container  */

.product .container .productContainer {
    display: flex;
    gap: 74px;

}

/* product images section */

.product .container .productContainer .productImage {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 308px;
    height: 495px;
    column-gap: 10px;
    row-gap: 40px;
    padding-inline: 8px 0;
}

.product .container .productContainer .productImage .mainImg {
    position: relative;
    grid-column: 1 / span 3;
    width: 308px;
    overflow: hidden;
    height: 359px;
    border-radius: 16px;
}

.product .container .productContainer .productImage .mainImg .zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* product Name and other details */

.product .container .productContainer .productDetails {
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans";
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    gap: 16px;
    color: #8F95B2;
}

.product .container .productContainer .productDetails .productInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* name */

.product .container .productContainer .productDetails h4 {
    font-weight: 700;
    font-size: 32px;
    color: #081735;
    height: 32px;
    line-height: 32px;
}

/* product rating */

.product .container .productContainer .productDetails .rating {
    height: 16px;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* product price */

.product .container .productContainer .productDetails .price {
    padding: 8px 0;

}

/* Product in stock  */

.product .container .productContainer .productDetails .available {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF754C;
    height: 32px;
    width: 101px;
    font-size: 14px;
    line-height: 20px;
    background: #FFEBF6;
    border-radius: 24px;
}

/* quantity selection buttons section */

.product .container .productContainer .productDetails .qtySelection {
    display: flex;
    gap: 18.21px;
    padding-block: 8px 16px;
}

.product .container .productContainer .productDetails .qtySelection .adjust {
    display: flex;
}

.product .container .productContainer .productDetails .qtySelection .adjust div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50.07px;
    font-family: 'Lato';
    color: #081735;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.product .container .productContainer .productDetails .qtySelection .adjust button {
    background: #E6E8F0;
    border-radius: 4px;
    height: 44px;
    color: #081735;
    width: 47.03px;
    font-size: 26px;
    letter-spacing: -3px;
}

/* addcart button */

.product .container .productContainer .productDetails .qtySelection .addCart button {
    background: #0049C6;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 8px;
    height: 43.79px;
    width: 176px;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 20px;
}

/* product description */

.product .container .productContainer .productDetails h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.product .container .productContainer .productDetails .descriptionText {
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}

/* Product container last section stock details */

.product .container .productContainer .productDetails .stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 11.5px;
}

.product .container .productContainer .productDetails .stock div:not(:last-child) {
    border-right: #E6E8F0 1px solid;
}

.product .container .productContainer .productDetails .stock div {
    width: 100%;
}

.product .container .productContainer .productDetails .stock div>p:first-child {
    color: #FF9A7B;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.product .container .productContainer .productDetails .stock div>p:last-child {
    font-size: 16px;
    line-height: 24px;
    color: #081735;
}

/* Other stock details in Container (Table) */


.product .container .tableContainer {
    max-width: 100%;
    overflow-x: scroll;
}

.product .container .stockDetails {
    width: 100%;
    min-width: 742px;

}

.product .container .stockDetails .headingRow {
    width: 100%;
    height: 65px;
    background: rgba(108, 93, 211, 0.1);
}

.product .container .stockDetails .headingRow th {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    padding-left: 32px;
}

.product .container .stockDetails tr {
    height: 68px;
}

.product .container .stockDetails tr:not(:first-child) td {
    border-bottom: solid 1px #E6E8F0;
}

.product .container .stockDetails td {
    color: #8F95B2;
    padding-left: 32px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 20px;
}


/* progress bar styles */

.product .container .stockDetails .progressCol>div {
    width: 234px;
    height: 8px;
    background: #E6E8F0;
    display: inline-block;
    border-radius: 4px;
}

.product .container .stockDetails .progressCol div .value {
    height: 100%;
    border-radius: 4px;

}

.product .container .stockDetails .progressCol div .value0 {
    background: linear-gradient(135deg, #FFB7F5 0%, #6C5DD3 100%);
}

.product .container .stockDetails .progressCol div .value1 {
    background: linear-gradient(333.01deg, #FF754C -23.54%, #FFB7F5 173.81%);
}

.product .container .stockDetails .progressCol div .value2 {
    background: linear-gradient(283.95deg, #0049C6 -12.57%, #CDF4FF 126.88%);
}

.product .container .stockDetails .progressCol p {
    padding-left: 12px;
    display: inline;
}


/* table heading row border radius */

.product .container .stockDetails .headingRow th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.product .container .stockDetails .headingRow th:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


/* responsive */

/* On Tablet */

@media only screen and (max-width: 1024px) {
    .product .container .productContainer {
        flex-direction: column;
        justify-content: center;
    }

    .product .container .productContainer .productDetails {
        font-size: 12px;
        line-height: 16px;
    }

    .product .container .productContainer .productDetails h4 {
        font-size: 24px;
    }

    .product .container .productContainer .productImage {
        width: 224.22px;
        height: 360.35px;
        overflow: hidden;
        row-gap: 29.12px;
        column-gap: 7.28px;
    }

    .product .container .productContainer .productImage .mainImg {
        width: 224.22px;
        height: 261.34px;
        box-sizing: border-box;
    }

    .product .container .productContainer .productImage>img {
        width: 100%;
    }

    .product .container .productContainer .productDetails .available {
        font-size: 10px;
        line-height: 14px;
    }

    .product .container .productContainer .productDetails h6 {
        font-family: 'Lato';
        font-size: 14px;
        line-height: 20px;
    }

    .product .container .productContainer .productDetails .descriptionText {
        font-size: 10px;
        line-height: 14px;
    }

    .product .container .productContainer .productDetails .stock div>p:first-child {
        font-size: 10px;
        line-height: 14px;
    }

    .product .container .productContainer .productDetails .stock div>p:last-child {
        font-size: 12px;
        line-height: 16px;
    }
    .product .container .productContainer .productDetails .stock .nofOrders {
        text-align: center;
    }
    .product .container .productContainer .productDetails .stock .revenue {
        text-align: end;
    }

    /* On Mobiles */
}

@media only screen and (max-width: 576px) {
    .product {
        padding: 0 32px;
    }

    .product .heading {
        display: none;
    }

    .product .container .productContainer .productDetails .qtySelection {
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 390px) {}