/* Sidebar styling */

.sidebar {
    width: 256px;
    height: 100%;
    position: fixed;
    /* box-sizing: border-box; */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #E6E8F0;
    font-size: 14px;
    transition: all ease .2s;
    z-index: 95;
}


/* Sidebar header */

.sidebar .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 136px;
    z-index: 50;
}

.sidebar .header .logo {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar .header .logo .brand {
    color: rgba(108, 93, 211, 1);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    white-space: nowrap;
    height: min-content;
    font-size: 32px;
    font-weight: 700;
}

/* Sidebar Menu Items */

.sidebar .navSidebar {
    padding: 0 15px 0 20px;
    z-index: 50;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar ul.menuItems {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.sidebar .navSidebar ul.menuItems li:hover {
    background: #6C5DD3;
    color: #FFFFFF;
}

.sidebar .navSidebar ul.menuItems li:hover .action {
    transform: rotate(-90deg);
}

.sidebar .navSidebar ul.menuItems li .action {
    transition: all ease .1s;
}

.sidebar .navSidebar ul.menuItems li {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: rgba(143, 149, 178, 1);
    font-weight: 700;
    padding: 16px 20px;
    width: 176px;
}

.sidebar .navSidebar ul.menuItems li p {
    width: 112px;
    padding-left: 16px;
}

.sidebar .navSidebar ul.menuItems li .blank {
    width: 24px;
    height: 24px;
}


/* Sidebar GetPro */


.sidebar .getPro {
    z-index: 50;
    background: linear-gradient(135deg, #FFB7F5 0%, #6C5DD3 100%);
    width: 216px;
    height: 159px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.sidebar .getPro p {
    width: 142px;
    height: 40px;
    line-height: 20px;
    text-align: center;
}

.sidebar .getPro button {
    width: 196px;
    height: 44.1px;
    border-radius: 70px;
    background: #fff;
    border: none;
    color: rgba(108, 93, 211, 1);
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;

}

/* Sidebar User Section */

.sidebar .user {
    z-index: 50;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 256px;
    gap: 16px;
    cursor: pointer;
    /* align-self: flex-end; */

}

.sidebar .user .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;

}

.sidebar .user .avatar img {
    object-fit: cover;
}

.sidebar .user .userDetails .username {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    height: 20px;
    color: rgba(8, 23, 53, 1);
}

.sidebar .user .userDetails .profession {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    color: rgba(143, 149, 178, 1);

}


/* closer "X" */

.sidebar .closer {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 201;
}

.sidebar .closer span {
    width: 24px;
    height: 2px;
    background: #081735;
    display: none;
    transform: rotate(45deg);
}

.sidebar .closer span::after {
    content: "";
    transform: rotate(90deg);
    width: 24px;
    height: 2px;
    background: #081735;
    position: absolute;

}


/* responssive */

@media only screen and (max-width: 1160px) {
    .sidebar {
        overflow: hidden;
        padding-top: 96px;
        box-sizing: border-box;
        width: 257px;
    }

    .shown {
        /* padding: 0; */
        width: 97px;

    }

    .sidebar .header {
        height: 113px;
    }
    .sidebar .header .logo{
        overflow: hidden;
    }

    .shown .navSidebar ul.menuItems li {
        width: 56px;
        box-sizing: border-box;
    }

    .shown .navSidebar ul.menuItems li>:not(:first-child),
    .shown .header .logo>:not(:first-child) {
        display: none;
    }

    .sidebar .getPro {
        display: none;
    }

    .shown .user {
        box-sizing: border-box;
        width: 100%;
    }

    .shown .user> :not(:first-child) {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .shown {
        width: 0;
    }

    .sidebar {
        z-index: 200;
        padding-top: 0;

    }

    .sidebar .closer span {
        display: block;
    }
}