@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

body {
  background: #FAFBFF;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 257px;
  height: 100%;
}

a {
  text-decoration: inherit;
  cursor: pointer;
}


body {
  margin: 0;
  min-height: 100vh;
  min-width: 350px;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  cursor: pointer;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}


ul {
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:active {
  transform: scale(95%);
}

table {
  border: none;
  outline: none;
  border-spacing: unset;
  border-collapse: separate;
  border-spacing: 0;
}

tr {
  vertical-align: middle;
}

th,
td {
  text-align: unset;
}

::-webkit-scrollbar {
  background: #fff;
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 0;
}

::-webkit-scrollbar-thumb {
  background: #BDBEC0;
  border-radius: 5px;
}

/* responsive */

@media only screen and (max-width: 1160px) {
  .dashboard {
    margin-left: 97px;
  }
}

@media only screen and (max-width: 576px) {
  .dashboard {
    margin-left: 0;
    margin-top: 97px;
  }
}